body {
	margin: 0;
}

a {
	text-decoration: none;
}

#head {
	width: 100%;
	height: 60px;
	background: #242424;
	font-family: Arial;
	font-size: 36px;
	line-height: 52px;
	text-align: center;	
}

#home-page-link {
	color: #FFFFFF;
}

#left-menu {
	width: 196px;
	height: 768px;
	background-color: #F3F3F3;
	padding-top: 15px;
	margin-right: 64px;
}

.menu-item {
	color: #000000;
	font-family: Arial;
	font-size: 18px;
	line-height: 42px;
}

#block {
	margin-top: 32px;
	width: 80%;	
	font-family: Arial;
	font-size: 16px;
}

#content {
	display: flex;
  	flex-direction: row;
}

#title {
	font-family: Arial;
	font-size: 36px;
	margin: 0;
	line-height: 36px;
	margin-bottom: 36px;
}

#description {
	width: 95%
	font-family: Arial;
	font-size: 16px;
	margin: 0;
	margin-bottom: 36px;
}

.style-button {
	position: absolute;
	height: 36px;
	background: #242424;
	border: #242424;
	box-sizing: border-box;
	border-radius: 10px;
	padding-top: 12px;
	padding-bottom: 28px;
	padding-left: 24px;
	padding-right: 24px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
}

.table {
	width: 95%;
	font-family: Arial;
	font-size: 16px;
}

.input-field {
	margin-left: 32px; 
	margin-bottom: 32px; 
	border-radius: 8px; 
	padding-left: 8px;	
	height: 20px;
	width: 360px;
	font-family: Arial;
	font-size: 16px;
}

.input-field:focus {
	outline: none;
}

.style-button-cancel {
	position: absolute;
	height: 36px;
	background: #FFFFFF;
	border: 2px solid #242424;
	box-sizing: border-box;
	border-radius: 10px;
	padding-top: 12px;
	padding-bottom: 26px;
	padding-left: 24px;
	padding-right: 24px;
	color: #242424;
	font-family: Arial;
	font-size: 16px;	
}
